html {
	height: 100%;
	background: radial-gradient(circle, #fff, #ccc);
	text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
		Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
/* TO DO: add styling for responsive old school computer screen container for quiz*/
#container {
	position: relative;
	height: 400px;
	width: 550px;
	margin: 100px auto;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 1px 4px 0px 0px rgb(26, 93, 97);
	-webkit-box-shadow: 1px 4px 0px 0px rgb(26, 93, 97);
	-moz-box-shadow: 1px 4px 0px 0px rgb(26, 93, 97);
	/* box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread] [color] */
	background-color: rgb(67, 142, 146);
}

#score {
	position: absolute;
	left: 500px;
	padding: 11px;
	box-shadow: 0px 4px #fff;
	-webkit-box-shadow: 0px 4px #fff;
	-moz-box-shadow: 0px 4px #fff;
	background-color: rgb(125, 177, 91);
	color: rgb(11, 29, 190);
}

#correct {
	position: absolute;
	left: 250px;
	padding: 11px;
	visibility: hidden;
	background-color: rgb(125, 177, 91);
	color: rgb(255, 255, 255);
}

#incorrect {
	position: absolute;
	left: 250px;
	padding: 11px;
	visibility: hidden;
	background-color: rgb(212, 42, 12);
	color: rgb(37, 39, 61);
}
#question {
	height: 150px;
	width: 400px;
	margin: 50px auto 10px auto;
	box-shadow: 1px 4px 0px 0px rgb(39, 26, 97);
	-webkit-box-shadow: 1px 4px 0px 0px rgb(39, 26, 97);
	-moz-box-shadow: 1px 4px 0px 0px rgb(39, 26, 97);
	background-color: rgb(149, 99, 189);
	font-size: 80px;
	text-align: center;
	font-family: cursive, sans-serif;
	color: #000;
}
#instruction {
	height: 50px;
	width: 400px;
	box-shadow: 1px 4px 0px 0px rgb(39, 26, 97);
	-webkit-box-shadow: 1px 4px 0px 0px rgb(39, 26, 97);
	-moz-box-shadow: 1px 4px 0px 0px rgb(39, 26, 97);
	background-color: rgb(149, 99, 189);
	margin: 10px auto;
	text-align: center;
	line-height: 45px;
}
#choices {
	height: 100px;
	width: 450px;
	margin: 5px auto;
}
.option-box {
	position: relative;
	height: 85px;
	width: 85px;
	float: left;
	margin-top: 5px;
	margin-right: 36px;
	border-radius: 3px;
	background-color: rgb(255, 255, 255);
	box-shadow: 1px 4px 0px 0px rgb(39, 26, 97);
	-webkit-box-shadow: 1px 4px 0px 0px rgb(39, 26, 97);
	-moz-box-shadow: 1px 4px 0px 0px rgb(39, 26, 97);
	cursor: pointer;
	line-height: 80px;
	transition: all ease-in-out 200ms;
	-webkit-transition: all ease-in-out 200ms;
	-moz-transition: all ease-in-out 200ms;
	-o-transition: all ease-in-out 200ms;
	-ms-transition: all ease-in-out 200ms;
}
.option-box:hover {
	box-shadow: 1px 4px 0px 0px rgb(255, 255, 255);
	-webkit-box-shadow: 1px 4px 0px 0px rgb(255, 255, 255);
	-moz-box-shadow: 1px 4px 0px 0px rgb(255, 255, 255);
	background-color: rgb(149, 99, 189);
	color: #fff;
}
.option-box:active {
	box-shadow: 0px 0px rgb(62, 44, 233);
	-webkit-box-shadow: 0px 0px rgb(62, 44, 233);
	-moz-box-shadow: 0px 0px rgb(62, 44, 233);
	top: 4px;
}
#option4 {
	margin-right: 0;
}
#startReset {
	position: relative;
	width: 85px;
	margin: 0 auto;
	padding: 5px;
	border-radius: 3px;
	background-color: rgb(32, 108, 112);
	box-shadow: 1px 4px 0px 0px rgb(39, 26, 97);
	-webkit-box-shadow: 1px 4px 0px 0px rgb(39, 26, 97);
	-moz-box-shadow: 1px 4px 0px 0px rgb(39, 26, 97);
	cursor: pointer;
	transition: all ease-in-out 200ms;
	-webkit-transition: all ease-in-out 200ms;
	-moz-transition: all ease-in-out 200ms;
	-o-transition: all ease-in-out 200ms;
	-ms-transition: all ease-in-out 200ms;
}

#startReset:hover {
	box-shadow: 1px 4px 0px 0px rgb(255, 255, 255);
	-webkit-box-shadow: 1px 4px 0px 0px rgb(255, 255, 255);
	-moz-box-shadow: 1px 4px 0px 0px rgb(255, 255, 255);
	background-color: rgb(43, 123, 128);
	color: #fff;
}
#startReset:active {
	box-shadow: 0px 0px rgb(62, 44, 233);
	-webkit-box-shadow: 0px 0px rgb(62, 44, 233);
	-moz-box-shadow: 0px 0px rgb(62, 44, 233);
	top: 4px;
}
#countdownBox {
	visibility: hidden;
	position: relative;
	float: right;
	width: 200px;
	margin: -31px auto;
	padding: 5px;
	border-radius: 3px;
	background-color: rgb(105, 157, 160);
	box-shadow: 1px 4px 0px 0px rgb(39, 26, 97);
	-webkit-box-shadow: 1px 4px 0px 0px rgb(39, 26, 97);
	-moz-box-shadow: 1px 4px 0px 0px rgb(39, 26, 97);
	cursor: pointer;
	transition: all ease-in-out 200ms;
	-webkit-transition: all ease-in-out 200ms;
	-moz-transition: all ease-in-out 200ms;
	-o-transition: all ease-in-out 200ms;
	-ms-transition: all ease-in-out 200ms;
}

#countdownBox:hover {
	box-shadow: 1px 4px 0px 0px rgb(255, 255, 255);
	-webkit-box-shadow: 1px 4px 0px 0px rgb(255, 255, 255);
	-moz-box-shadow: 1px 4px 0px 0px rgb(255, 255, 255);
	background-color: rgb(43, 123, 128);
	color: #fff;
}
#countdownBox:active {
	box-shadow: 0px 0px rgb(62, 44, 233);
	-webkit-box-shadow: 0px 0px rgb(62, 44, 233);
	-moz-box-shadow: 0px 0px rgb(62, 44, 233);
	top: 4px;
}
#gameOverBox {
	visibility: hidden;
	position: absolute;
	top: 4px;
	left: 30px;
	z-index: 2;
	height: 200px;
	width: 500px;
	margin: 100px auto;
	padding: 20px;
	box-shadow: 1px 4px 0px 0px rgb(26, 93, 97);
	-webkit-box-shadow: 1px 4px 0px 0px rgb(26, 93, 97);
	-moz-box-shadow: 1px 4px 0px 0px rgb(26, 93, 97);
	/* box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread] [color] */
	background-image: linear-gradient(
			rgba(0, 0, 255, 0.5),
			rgba(255, 255, 0, 0.5)
		),
		url("media/wp1815530-the-amazing-world-of-gumball-wallpaper.jpg");
	background-size: 500px;
	color: #fff;
	font-size: 2rem;
	text-align: center;
	text-transform: uppercase;
}
